@{
    ViewBag.Title = "Page 1";
}

<h1>Page 1</h1>

@if(ViewBag.IsImported)
{ 
    <button type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> Import Customer Data
    </button>
}
